* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  background-color: #fafafa;
}

.header {
  background-color: #a0bdff;
  padding: 24px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  color: #000000;
}

.logo-link {
  text-decoration: none;
  color: inherit;
}
