* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  background-color: #fafafa;
}

.header {
  background-color: #a0bdff;
  padding: 24px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  color: #000000;
}

.logo-link {
  text-decoration: none;
  color: inherit;
}

.auth-links {
  display: flex;
  gap: 32px;
  align-items: center;
}

.auth-link {
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}

.register-header {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  padding-top: 40px;
  text-align: center;
}

.register-box {
  height: 363px;
  width: 579px;
  margin: auto;
  padding: 20px;
  background-color: #fff1cb;
  border-radius: 20px;
}
